/* css reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    color: #312A26;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{font-family: 'Oswald',sans-serif;}

p,
input,
label,
span,
a{
    font-family: 'open sans', sans-serif;
}

body{
    width: 100%;
}


/*header area*/
.nav{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

.nav h1{
    width: 50%;
    float: left;
}

.nav ul{
    width: 50%;
    float: right;
    padding-top: 10px;
    text-align: right;
}

.nav li{
    display: inline-block;
}

.nav a{
    font-family: 'Oswald',sans-serif;
}

a:hover{
    color: #c7a17a;
}

/*banner area*/
.banner{
    background-image: url('../images/atf-image.jpg');
    height: 650px;
    background-size: cover;
    background-position: center;
    background-color: #c7a17a;
    margin-bottom: 5%;
}
.banner-text{
    width: 30%;
    position: relative;
    top: 20%;
    left: 7.5%;
}

.banner-text h2{
    font-size: 75px;
    text-transform: uppercase;
    line-height: 75px;
}

.banner-text h2 span{
    color: #4caf50;
    font-family: 'oswald';
}
.banner p{
    font-style:italic ;
    margin-bottom: 15px;
}
.banner a{
    background-color: #312A26;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-transform: uppercase;
}

/* ads area 2boxes */
.ads{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-bottom: 5%;
}

.ads-box{
    width: 49.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads1{
    background-image: url(../images/merchandise1.jpg);
    margin-right: 1%;
}

.ads2{
    background-image: url(../images/merchandise2.jpg);
}

.ads-text{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 10%;
}

.ads-text h3{
    color:white;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ads-text a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}

/* Merchandise area */

.merch{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.div-title{
    text-align: center;
}

.div-title span{
    color: #c7a17a;
    font-style: italic;
    font-size: 20px;
}

.div-title h2{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

.div-title hr{
    background-color: #c7a17a;
    width: 10%;
    height: 4px;
    margin: 0 auto 30px auto;
    
}

.merch-gallery{
    overflow: auto;
}

.merch-item{
    width: 24.25%;
    float: left;
    margin-right: 1%;
}

.merch-item img{
    width: 100%;
}

.merch-item:nth-child(4),
.merch-item:nth-child(8)
{
    margin-right: 0;
}

.merch-item:nth-child(1),
.merch-item:nth-child(2),
.merch-item:nth-child(3),
.merch-item:nth-child(4)
{
    margin-bottom: 1%;
}

.merch-item h3{
    color:#312A26
}

.merch-item span,
.merch-item p{
        color: #c7a17a;
}

/* ads big area */

.ads-big{
    background-image: url(../images/banner.jpg);
    width: 85%;
    margin-right:auto;
    margin-left: auto;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 5%;
}

.ads-big-text{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ads-big-text span{
    color: #c7a17a;
    font-style: italic;
    font-size: 25px;
}

.ads-big-text h2{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.ads-big-text a{
    display: inline-block;
    padding: 15px 20px;
    background-color: white;
    font-weight: bold;
}

/* ads area 4 */
.ads_2 .ads-box:nth-child(1){
background-image: url(../images/merchandise3.jpg);
}
.ads_2 .ads-box:nth-child(2){
    background-image: url(../images/merchandise4.jpg);
}
.ads_2 .ads-box:nth-child(3){
    background-image: url(../images/merchandise5.jpg);
}
.ads_2 .ads-box:nth-child(4){
    background-image: url(../images/merchandise6.jpg);
}
.ads_2 .ads-box:nth-child(1),
.ads_2 .ads-box:nth-child(2)
{margin-bottom: 1%;

}

.ads_2 .ads-box:nth-child(1),
.ads_2 .ads-box:nth-child(3){
    margin-right: 1%;
}








/* resevation */
.reservation{
    width: 85%;
    margin-right:auto;
    margin-left: auto;
    overflow: auto;
    margin-bottom: 5%;
}

.res-form{
    overflow: auto;
}

.res-form-left,
.res-form-right{
    width: 49.5%;  
    background-color:#f2f2f2;
    display: inline-block;
    padding: 10px;
    float: left;
}

.res-form-left{
    margin-right: 1%;
}

.res-form label,
.res-form input,
.res-form textarea,
.res-form select{
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
}

.res-form label{
    font-weight: bold;
}
.subtitle{
    text-align: center;
}

.subtitle h3{
    text-transform: uppercase;
}
.subtitle p{
    font-weight: bold;
}
label.form-inline,
input.form-inline{
    display: inline;
    width: auto;
}

.res-form input,
.res-form textarea,
.res-form select{
    margin-bottom: 10px;
    padding: 10px;
}

.send-btn{
    background-color: #4caf50;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

/* footer
 */

 .footer{
     background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    padding: 2.5% 0;
 }

 .footer-content{
     width: 80%;
     margin: 0 auto;
     overflow: auto;
 }

 .footer-content > div{
     width: 24.25%;
     float: left;
     margin-right: 1%;
 }
 .footer-content >div:nth-child(4)
 {
     margin-right: 0%;
 }

 .footer-content h3{
     color: white;
     text-transform: uppercase;
 }

 .footer-content th,
 .footer-content td{
     color: white;
     font-family: 'Open Sans',  sans-serif;
 }

 .latest-post h4{
     color: white;
     text-transform: uppercase;
 }

 .latest-post p{
     color: #c7a17a;
 }

 .contact p
 {
     color: white;
     font-weight: bold;
 }

 .contact .info{
    color: #c7a17a;
    font-weight: bold;
    margin-top: 15px;
}

.contact input{
    color: #312a26;
    background-color: white;
    padding: 10px;
}

.contact input[type="submit"]
{
    background-color: #c7a17a;
}

.title2
{
    margin-top: 15px;
}

.location h4{
    color: #c7a17a;
    margin-top: 15px;
    text-transform: uppercase;
}

.location p
{
    color:white;
}

/* footer2 area */
.footer2{
    background-color: black;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.footer2 .social{
    width: 49.5%;
    text-align: center;
}

.footer2 .copyright{
    margin-right: 0;
}



.footer2 li
{
    display: inline-block;
}

.footer2 h2,
.footer2 a,
.footer2 p
{
    color: white;
}

.footer a{
    text-decoration: underline;
}